@model List<RecebimentoViewModel>
@{
    Layout =null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/recebimento.css">
    <link rel="stylesheet" href="~/css/hd_ft.css">

</head>
<header class="site-header">
    <div>
        <nav>
            <a class="logo" href="#">
                <img src="~/css/logo_electronicrap.png" alt="Electronicrap Logo" style="height: 40px;">
            </a>
            <ul class="menu">
                <li><a href="/Login/HomeReceiver?username=@ViewBag.receiverUsername">Home</a></li>
                <li><a  asp-area="" asp-controller="Home" asp-action="Index">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>
    <div class="container">
        <h4>Insira um novo recebimento aqui:</h4>
        <div class="button-container">
            <a href="/Recebimento/Cria?receiverId=@ViewBag.receiverId&username=@ViewBag.receiverUsername" class="btn btn-success">Registrar</a>
        </div>
        <h2>Histórico Recebimentos</h2>
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome Descartador</th>
                    <th>CPF Descartador</th>
                    <th>Quantidade</th>
                    <th>Descrição</th>
                    <th>Tipo Lixo Descartado</th>
                    <th>Data Recebimento</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var recebimento in Model)
                {
                    <tr>
                        <td>@recebimento.id</td>
                        <td>@recebimento.sender_full_name</td>
                        <td>@FormatCPF(recebimento.sender_cpf)</td>
                        <td>@recebimento.quantidade</td>
                        <td>@recebimento.descricao</td>
                        <td>@recebimento.categoria_lixo_descricao</td>
                        <td>@recebimento.data</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
<footer class="site-footer">
    <div>
        <p>&copy; 2024 ec8-electronicrap.azurewebsites.net. Todos os direitos reservados.</p>
        <a href="https://github.com/carlosbpiolla/PBL_Electronicrap" target="_blank">
            <img src="~/css/logo_git.png" alt="GitHub">
        </a>
    </div>
</footer>
</html>

@functions{
    public string FormatCPF(string cpf)
{
    if (string.IsNullOrWhiteSpace(cpf) || cpf.Length != 11)
    {
        return cpf; // Retorna o valor original se não for um CPF válido (11 dígitos)
    }
    return cpf.Substring(0, 3) + "." + cpf.Substring(3, 3) + "." + cpf.Substring(6, 3) + "-" + cpf.Substring(9, 2);
}

}